---
---

// the color we used for link on the old homepage was: #b34800;
$pumpkin: #ffa035;
$header: $pumpkin;

@import "{{ site.theme }}";

.container {
  background: rgba(0, 0, 0, 0.2);
}

body {
  background-image: linear-gradient(to bottom, rgba(21, 21, 21, 255), rgba(21, 21, 21, 0)),url('/assets/images/buzztrax_bg.jpg');
  background-repeat: no-repeat;
  background-position: top: 20px;
}

header {
  border-bottom: 1px dashed $pumpkin;
}

header h1 {
  color: $pumpkin;
}


