---
---

// the color we used for link on the old homepage was: #b34800;
$pumpkin: #ffa035;
$header: $pumpkin;

@import "{{ site.theme }}";

body {
  // linear-gradient(to bottom, rgba(21, 21, 21, 0), rgba(21, 21, 21, 255)),
  background-image: url('/assets/images/buzztrax_bg.jpg');
  background-repeat: no-repeat;
  background-position: 0 200px;
  background-blend-mode: lighten;
}

header {
  border-bottom: 1px dashed $pumpkin;
}

header h1 {
  color: $pumpkin;
}

body > .container {
  background: rgba(0, 0, 0, 0.25);
  padding: 15px;
}

