---
---

// the color we used for link on the old homepage was: #b34800;
$pumpkin: #ffa035;
$header: $pumpkin;

@import "{{ site.theme }}";

.container {
  margin: 40 0 0 0 auto;
  background-image: url('/assets/images/buzztrax_bg.jpg');
  background-repeat: no-repeat;
}

header {
  border-bottom: 1px dashed $pumpkin;
  margin: 0;
}

header h1 {
  color: $pumpkin;
}


